@import '../../index.scss';

.single-product-icon {
  margin: 10px;
  transition: all 0.3s ease-in-out;
  cursor: grabbing;
  display: flex;
  align-items: center;
  justify-content: center;
  // font-size: 60px;

  i {
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    filter: brightness(0.85) contrast(200%);
    cursor: pointer;
    font-size: inherit;
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
